[submodule "plugins/ESS"]
	path = plugins/ESS
	url = https://github.com/emacs-ess/ESS.git
[submodule "plugins/multiple-cursors.el"]
	path = plugins/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
