# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

ac-comphist.dat
ido.last
places
projectile-bookmarks.eld
recentf
request/curl-cookie-jar
newsticker/
.cask/
.sx/
.python-environments/
/ensime/classpath_2.11.7_0.9.10-SNAPSHOT
/bookmarks
/misc/*
